/* Chart 6 */

.bar-chart6 {
  fill: var(--color-primary);
}

.bar-chart6:hover {
  fill: var(--color-sunshade);
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  font-size: 12px;
  background: #f0f0f0;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  pointer-events: none;
}

.chart-title-full {
  font-size: clamp(18px, 2vw, 24px);
}

.chart-title-half {
  font-size: clamp(12px, 2vw, 18px);
}

.selected-chart2 {
  opacity: 1 !important;
  stroke: black;
  stroke-width: 1px;
}
